@model EmployeeBonus.Models.Department
@{
    ViewBag.Title = "DepartmentForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (Model.Id == 0)
{
    <h1>New Department</h1>
}
else
{
    <h1>Edit Department</h1>
}

@using (Html.BeginForm("Save", "Departments", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>

    @Html.HiddenFor(m => m.Id)
    @Html.AntiForgeryToken()
    <button class="btn btn-success">Save</button>
}

@Scripts.Render("~/bundles/jqueryval")
